@media only screen and (min-width: 480px) {
    

    /* Schaduw op menu-balk: */
    .shadowWhite{
        box-shadow: 0 0 10px 0 #ebebeb;
    }
    /* Einde schaduw op menu-balk */

    /* Menu-balk */
    .dropdownmenu ul, .dropdownmenu li {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        z-index: 1; /*Geeft voorrang boven alle CSS*/
    }

    .dropdownmenu ul {
        background: #ebebeb;
        list-style: none;
        width: 100%;
    }

    .dropdownmenu li {
        display: flex;
        position: relative;
        width: auto;
    }

    .dropdownmenu a {
        background: #ebebeb;
        color: #8a8a8a;
        display: block;
        font: bold 12px/20px sans-serif;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
    }
    
    .dropdownmenu li:hover a {
        background: #8a8a8a;
        color: #ebebeb;
    }
    /* Einde Menu-balk */

    /* Sub-Menu onder 'Information'*/
    #submenu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 35px;
        visibility: hidden;
    }

    li:hover ul#submenu {
        top: 40px; 
        visibility: visible;
        padding: 0px;
    }

    #submenu li {
        display: flex;
        width: 100%;
        box-shadow: 0 0 10px 0 #ebebeb;
    }

    #submenu a:hover {
        background: #8a8a8a;
        color: #ebebeb;
        width: 100%;
    }

    #submenu a {
        background-color: #ebebeb;
        color: #8a8a8a;
    }
    /* Einde Sub-Menu onder 'Information' */

    body{
        background-color: #0f0f0f;
    }

    .cloakdiv{
        display: flex;
        justify-content: center;
    }

    .cloak{
        width: 57%;
        height: 57%;
        position: center;
    }
    
    .lore{
        margin: 15px;
        padding: 10px;
        border: 1px dashed #ebebeb;
    }

    .text{
        color: #ebebeb;
        font-family: 'Mirza', cursive;
        text-shadow: 2px 2px #3B3B3B;
    }

    .needyou{
        font-family: 'Mirza', cursive;
        text-shadow: 2px 2px #3B3B3B;
        font-size: 40px;
        text-align: center;
        padding: 10px;
        margin: 10px;
    }

    hr{
        border: 0;
        height: 1px;
        width: 58%;
        background: #0f0f0f;
        background-image: linear-gradient(to right, #ebebeb, #0f0f0f, #ebebeb);
    }

}
